.error.unavailable {
  display: none;
}

.model_image.unavailable {
  display: none;
}

.model_interactive.unavailable {
  display: none;
}

.model_interactive, .model_interactive iframe {
  width: 600px;
  height: 350px;
}
.click_to_play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
click_to_play.unavailable {
  display: none;
  cursor: auto;
}
.click_to_play .background:hover {
  opacity: 0.9;
}
.click_to_play .background {
  background-color: white;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.click_to_play .text{
  text-align: center;
  font-size: 3em;
  margin-top: 3em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container_element {
  width: 600px;
}